
$couleur-verte-light: 							#A0D468 !default;
$couleur-verte:									#8CC152 !default;

$navbar-background-color:                    	$couleur-verte;
$navbar-background-color-active:             	$couleur-verte-light;

$navbar-font-color:                    			$white;

$body-font-color:            					$darkgray-dark;
$body-background-color:      					$white;

$link-font-color:            					$couleur-verte;
$link-font-color-hover:      					$couleur-verte-light;

$list-background-color:                    	    $couleur-verte;
$list-background-color-active:             	    $couleur-verte-light;
$list-primary:                                  #e4e4e4;

