
@import
"../../vendor/bootflat/bootflat/bootflat/scss/bootflat/global",
"variable",
"../../vendor/bootflat/bootflat/bootflat/scss/bootflat"
;

body {
  background: #74b3bd url(../../images/background.jpg) no-repeat top center;
  background-size: cover;
}

.navbar-default {
  & .navbar-text,
  & .navbar-nav > li > a {
	color: darken($couleur-verte-light, 35%);
  }
}

.nopadding {
  padding: 0 !important;
}

.no-gutter [class*="-9"],
.no-gutter [class*="-8"] {
  padding-left:0;
  padding-right:0;
}


form#formInscription input,
form#formInscription textarea {
  &:valid {
	border: 1px solid #3d3;
	-webkit-box-shadow: 0 0 10px -3px #3d3;
  }
  &:invalid{
	border: 1px solid #d33;
	-webkit-box-shadow: 0 0 10px -3px #d33;
  }
  &:required:after {
	content: "*";
	width: 15px;
	height: 15px;
	color: red;
	position: absolute;
	font: bold 16px sans-serif;
  }
}

#header {
  color: white
}


#header .ban {
  height: 200px;
  padding: 25px 15px;
}


#header .logo {
  width: 100%;
  height: 100%;
  border-radius: 150px;
  background: rgba($white, .8) url("/application/assets/images/logo.png") 50% 50% no-repeat;
  background-size: contain;
}

#panierBtn {
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: #A0D468;
  border-radius: $panel-radius;
  width: 100%;
  color: white;
  height: 50px;
  line-height: 50px;
  -webkit-transition: all .1s;
  -o-transition: all .1s;
  transition: all .1s;
  position: relative;

  &:hover {
	background-color: #8CC152;
  }

  &.active {
	color: #8CC152;
	background-color: #fff;
  }

  a {
	color: inherit;
	text-decoration: none;
	display: block;
	height: 100%;
	width: 100%;
	text-align: center;
  }

  .nb {
	position: absolute;
	right: 0;
	padding: 5px 7px;
	background-color: rgba(0,0,0,.3);
	float: right;
	margin: 10px;
	height: 30px;
	line-height: 20px;
	min-width: 30px;
	font-size: .8em;
	border-radius: 30px;
	color: white;
	-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, .5);
	-moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, .5);
	box-shadow: inset 0 0 3px rgba(0, 0, 0, .5);

	&::after {
	  content: ' €';
	}
  }

}

.barlat {
  background-color: rgba($white, .4);
  border-radius: 15px;
  padding: 15px;
}

#formConnexion {
  background-color: white;
  padding: 15px;
  border-radius: $panel-radius;

  .errors {
	text-align: center;
	color: darkred;
	padding: 10px 0;
  }
}

.categories a {
  display: block;
}

.barlat #formConnexion h4 {
  margin: 5px 0 10px;
}

.barlat .list-group ul {
  padding: 5px 0;
}

.barlat .list-group .listActive {
  background-color: #f1f1f1;
}

.barlat #formConnexion .list-group {
  margin-bottom:0;
}

#wrapContent {
  padding-top: 15px;
}

.main-content {
  padding: 10px 20px 15px;
  border-radius: $panel-radius;

  background-color: rgba($white, .6);
}

.welcome-message {
  padding: 20px 0 0;
  margin: 0;
}

.slider-best-article {
  position: relative;

  .ajout-panier {
	position: absolute;
	bottom: 0;
	margin: 5px;
  }
}

.image-article {
  width: 100%;
  height: auto;
}

.prix {
  font-size: 3em;
  font-weight: bold;
  margin-right: 8px;
  &::after {
	content: " €";
	font-size: 0.5em;
	vertical-align: middle;

  }
}


.tile-gallery {

  padding: 15px 0;

  .tile {
	position: relative;
	margin-bottom: 30px;
	overflow: hidden;

	.caption-content {
	  position: absolute;
	  bottom: 0;
	  left: 15px;
	  right: 15px;
	  padding: 15px;
	  background-color: rgba(0,0,0, .5);
	  height: 52px;
	  border-radius: 4px;


	  -webkit-transition: all .3s;
	  -moz-transition: all .3s;
	  -o-transition: all .3s;
	  transition: all .3s;

	  .title {
		color: white;
		font-size: 1.2em;
		padding-right: 50px;
		white-space: nowrap;
		text-overflow: ellipsis;
		width: 100%;
		overflow: hidden;
		padding-bottom: 7px;
		font-weight: bold;
	  }

	  .price {
		position: absolute;
		bottom: 1px;
		right: 0;
		padding: 10px;
		font-size: 1.5em;
		color: white;
		font-weight: bold;

		&::after {
		  content: ' €';
		  font-size: .8em;
		  font-weight: lighter;
		}
	  }

	  .description {
		color: white;
		font-size: .9em;
		overflow: hidden;
		text-overflow: ellipsis;
		display: none;
	  }

	  .btns {
		button.ajout-panier {
		  position: absolute;
		  bottom: -50px;
		  left: 10px;
		  -webkit-transition: all .2s;
		  -moz-transition: all .2s;
		  -o-transition: all .2s;
		  transition: all .2s;
		  opacity: 0;
		}

	  }
	}

	&:hover {
	  .caption-content {
		height: 100%;
		background-color: rgba(0,0,0,.8);

		.description{
		  display: block;
		}

		.title {
		  overflow: visible;
		  white-space: normal;
		}

		.btns {

		  .ajout-panier {
			opacity: 1;
			bottom: 10px;
		  }
		}
	  }
	}


	&.pager {
	  a {
		position: relative;
		display: block;
		margin: 0;
		background-color: #006442;
		text-transform: uppercase;
		color: $couleur-verte-light;
		font-size: 2.5em;
		padding: 15px 0;
		margin-bottom: 5px;
		-webkit-transition: all .2s;
		-moz-transition: all .2s;
		-o-transition: all .2s;
		transition: all .2s;

		&:hover {
		  background-color: #16A085;
		}
	  }
	}
  }
}

.animationToPanier {
  position: absolute;
  border-radius: $panel-radius;
  $speed : .75s;

  -webkit-transition: all $speed;
  -moz-transition: all $speed;
  -o-transition: all $speed;
  transition: all $speed;
  background-color: $couleur-verte-light;
  color: white;
  height: 25px;
  width: 25px;
  padding: 5px 10px;
  line-height: 1em;


  &.toPanier {
	line-height: 50px;
	padding: 0 15px;
	height: 50px;
	background-color: $couleur-verte;
	-webkit-box-shadow: 0 2px 10px grey;
	-moz-box-shadow: 0 2px 10px grey;
	box-shadow: 0 2px 10px grey;
  }

  &.accept {
	-webkit-transform: scale(.5);
	-moz-transform: scale(.5);
	-ms-transform: scale(.5);
	-o-transform: scale(.5);
	transform: scale(.5);
	opacity: 0;
	box-shadow: 0 0 0 transparent;
  }

  &.decline {
	-webkit-transform: translateX(-500px);
	-moz-transform: translateX(-500px);
	-ms-transform: translateX(-500px);
	-o-transform: translateX(-500px);
	transform: translateX(-500px);
	opacity: 0;
	box-shadow: 0 0 0 transparent;
  }

  .title {
	font-weight: bold;

	&:hover {
	  background-color: $couleur-verte;
	}
  }

  .wrap {

	position: absolute;
	right: 15px;

	.yes, .more, .less {
	  padding: 3px;
	  cursor: pointer;
	  font-weight: bold;
	  border-radius: 4px;
	  margin-right: 2px;

	  &:hover {
		background-color: $couleur-verte-light;
	  }
	}

	input.inNbArt {
	  width: 35px;
	  height: 25px;
	  margin: 0 3px;
	  vertical-align: middle;
	  padding: 0;
	  line-height: 1em;
	  text-align: center;
	  background-color: rgba(255,255,255,.2);
	  border: none;
	  outline: none;
	}
  }


}

table {

  border-radius: $panel-radius;
  overflow: hidden;

  .prix {
	font-size: 1.2em;

	&#prixTotal {
	  font-size: 1.4em;
	}
  }

  tbody, thead {
	background-color: white;
  }

  tfoot {
	background-color: rgba($white, .7);

	td {
	  vertical-align: middle !important;
	}
  }
}

.list-group-item .list-group-item.listActive {
  background-color: #def1d6;
}

.listing-errors {
  margin: 15px 0;
}

.categories-list {
  padding: 0 15px;
}

.entry-modification {
  padding: 10px;
  label {}
  .content {
	position: relative;

	input {
	  display: none;
	}

	i {
	  font-size: 1em;
	  position: absolute;
	  left: -25px;
	  top: 0;
	  cursor: pointer;
	  padding: 3px;
	  border-radius: 4px;

	  &:hover {
		background-color: rgba($black, .2);
	  }

	  &.edit {
	  }
	  &.submit {
		display: none;
	  }
	}
  }

  &.onmodification {
	.content span {
	  display: none;
	}
	.content input {
	  display: inline;
	}
	i {
	  &.edit {
		display: none;
	  }
	  &.submit {
		display: inline;
	  }
	}
  }
}

footer {
  padding: 15px 0;
  margin: 10px 0;
  border-radius: $panel-radius;
  background-color: white;
}